name: ember_match
description: "A responsive memory game using Flame and Flutter."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  flame: ^1.16.0 

  get: ^4.6.6
  hive: ^2.2.3
  hive_flutter: ^1.1.0


  flutter_svg: ^2.0.10+1
  sensors_plus: ^5.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true


  assets:
    - assets/images/